@media (min-width: 1501px) and (max-width: 1750px) {
    .item.testi-box {
        height: 460px;
    }
}

@media (min-width: 1401px) and (max-width: 1600px) {
    section.platform {
        padding: 75px 0 250px;
    }

    section.top-predictors .col-md-12 {
        margin-top: -100px;
    }

    section.top-predictors:before {
        top: -218px;
    }

    .before-img-bottom:before {
        background-size: 85%;
        left: 72px;
        top: -32px;
    }

    .before-img-bottom:after {
        background-size: 75%;
        left: 0;
    }

    .after-img-bottom:before {
        background-size: 85%;
        bottom: -78px;
    }

    .after-img-bottom:after {
        right: 0;
        background-size: 75%;
        bottom: -98px;
    }

    .bottom-video:before {
        background-size: 85%;
        left: 273px;
    }
}

@media (min-width: 1200px) and (max-width: 1400px) {
    a.nav-link {
        font-size: 17px;
    }

    .main-banner-video video {
        width: 89%;
        height: 58%;
        top: 106px;
        left: 65px;
    }

    section.platform .main-text:before {
        top: -41px;
        right: 269px;
    }

    section.top-predictors .col-md-12 {
        margin-top: -150px;
    }

    img.predict-img {
        left: 126px;
    }

    section.platform {
        padding: 75px 0 300px;
    }

    section.top-predictors:before {
        top: -277px;
    }

    section.top-predictors {
        padding: 0 0 75px;
    }

    .predict-box-slide {
        margin: 55px 18px 20px;
    }

    .slick-next:before {
        right: 5px;
        position: absolute;
    }

    .slick-prev:before {
        left: -3px;
    }

    .step img {
        width: 60%;
    }

    .bottom-video video {
        left: 13px;
    }

    .before-img-bottom:before {
        background-size: 70%;
        top: 13px;
        left: 60px;
    }

    .after-img-bottom:before {
        background-size: 68%;
        bottom: -134px;
        left: 0;
    }

    .after-img-bottom:after {
        right: -29px;
        background-size: 60%;
        bottom: -160px;
    }

    .before-img-bottom:after {
        left: 0;
        background-size: 75%;
    }

    .bottom-video:before {
        background-size: 70%;
        left: 236px;
    }

    .item.testi-box {
        /* height: 445px; */
    }
}

@media (min-width: 320px) and (max-width: 767px) {
    p {
        font-size: 13px;
    }

    a.navbar-brand img {
        width: 140px;
    }

    .navbar-toggler {
        background-color: #ff282f;
        z-index: 999999;
    }

    section.main-banner {
        height: 40vh;
    }

    .main-banner-video video {
        width: 236px;
        height: 530px;
        left: 65px;
        top: 71px;
    }

    section {
        padding: 30px 0 !important;
    }

    .main-text h6 {
        font-size: 18px;
    }

    .main-text h3 {
        font-size: 30px;
    }

    section.platform .main-text:before {
        right: 0;
        background-size: 64px;
    }

    .predict-1 {
        display: ruby-text;
    }

    .predict-box {
        margin: 5px;
    }

    .predict-2 {
        display: ruby-text;
    }

    .otp-input-fields {
        display: ruby-text;
    }

    .otp-input-fields input {
        margin: 5px;
    }

    section.platform:after {
        background-size: cover;
        background-repeat: no-repeat;
        bottom: 0;
    }

    section.platform {
        padding: 30px 0 100px !important;
    }

    .predict-3 h4 {
        font-size: 20px;
    }

    .main-text p {
        font-size: 13px;
        line-height: 22px;
    }

    .predict-box-slide p {
        font-size: 18px;
    }

    .predict-box-inner p {
        font-size: 16px;
    }

    .step p {
        font-size: 18px;
    }

    .step img {
        width: 50%;
    }

    .bottom-video img {
        width: 50%;
        margin-top: 55px;
    }

    .bottom-video video {
        width: 179px;
        height: 112px;
        left: 94px;
        top: 55px;
    }

    .after-img-bottom:before,
    .after-img-bottom:after,
    .before-img-bottom:before,
    .before-img-bottom:after {
        display: none;
    }

    .bottom-video:before {
        top: -29px;
        left: 147px;
        background-size: 74px;
    }

    section.ad-bottom {
        background-position: left;
    }

    .accordion-button {
        font-size: 14px;
    }

    .subscribe .btn {
        font-size: 13px;
    }

    .subscribe .form-control {
        font-size: 13px;
    }

    .bootom-nav .navbar>.container,
    .navbar>.container-fluid,
    .navbar>.container-lg,
    .navbar>.container-md,
    .navbar>.container-sm,
    .navbar>.container-xl,
    .navbar>.container-xxl {
        justify-content: center;
    }

    .coopyright p {
        font-size: 14px;
        margin-bottom: 15px;
    }

    .bottom-content {
        display: table;
        margin: 20px auto 0;
        width: 100%;
    }

    .social-icons {
        justify-content: center;
    }

    .slick-next:before {
        bottom: -184px;
        position: absolute;
        right: 24px;
    }

    .slick-prev:before {
        bottom: -184px;
        top: unset;
        left: 21px;
    }

    .slick-dots li button:before {
        color: #fff;
        font-size: 45px;
    }

    .slick-dots li.slick-active button:before {
        color: #ff282f;
    }

    .slick-arrow {
        display: none !important;
    }

    .slick-dots {
        margin-bottom: 10px;
    }

    img.predict-img {
        left: 118px;
    }

    .navbar-expand-lg .navbar-collapse {
        z-index: 99999;
    }

    a.nav-link.blank-a {
        display: none;
    }

    span.navbar-toggler-icon {
        position: relative;
    }

    span.navbar-toggler-icon:before {
        position: absolute;
        content: "\f0c9";
        color: #fff;
        font-family: 'FontAwesome';
        font-size: 30px;
        left: 3px;
    }

    .item.testi-box p {
        font-size: 14px;
    }

    .item.testi-box b {
        font-size: 14px;
    }

    .item.testi-box h6 {
        font-size: 14px;
    }

    .item.testi-box img {
        width: 60px;
    }

    .item.testi-box b:before {
        top: 7px;
        width: 20px;
        left: -35px;
    }

    .item.testi-box {
        height: 310px;
    }

    section.testi .owl-item.active.center .item.testi-box {
        margin-top: unset;
        transition: unset;
    }

    .item.testi-box {
        padding: 30px 30px 40px 90px;
    }

    .accordion-body {
        font-size: 14px;
    }

    section.inner-banner {
        height: 30vh;
    }

    section.about-us .main-text p {
        font-size: 13px;
    }
}

@media only screen and (min-width: 1800px) {
    .container {
        max-width: 1700px;
    }
}

@media only screen and (max-width: 1799px) {
    ul.side_menu_navs {
        max-height: 360px;
        overflow-y: auto;
    }

    .countdown_user_timer h5,
    .countdown_user_timer h6 {
        font-size: 12px;
    }

    .countdown_user_timer {
        padding: 8px 10px;
    }

    .payment-amount {
        font-size: 53px;
    }

    .payment-date {
        font-size: 20px;
    }
}

@media only screen and (max-width: 1500px) {
    .user_dashboard aside {
        width: 225px;
        padding: 24px 10px;
    }

    .user_main_content {
        width: calc(100% - 225px);
        margin-left: 225px;
    }

    .table_container .title {
        font-size: 15px;
    }

    .table_container .icon {
        width: 27px;
        height: 27px;
    }

    .user_pkg_card {
        height: 350px;
        padding: 60px 10px 30px 10px;
    }

    .user_pkg_card h3 {
        font-size: 15px;
    }

    .horse_list_info_box p {
        font-size: 16px;
        line-height: 25px;
    }

    .user_search_box {
        max-width: 400px;
    }

    .inner_content_wrapper {
        padding: 15px;
    }

    .not_found_box_wrapper {
        padding-top: 150px;
    }

    .not_found_box h2 {
        font-size: 38px;
    }

    .top__bar h2 {
        font-size: 21px;
    }

    .cell {
        font-size: 12px;
        font-weight: 700;
    }

    .bid-amount {
        font-size: 17px;
    }

    .user_img_box {
        height: 240px;
    }

    .custom_tabs {
        gap: 7px;
    }

    .sold_badge {
        width: 75%;
    }

    .heading22px {
        font-size: 19px;
        width: 242px;
    }

    .fvrt_btn {
        width: 100px;
    }

    .horse_card_btn {
        width: 100px;
    }

    .product_clm .pro_img {
        width: 100%;
        height: 190px;
    }

    .product_clm p {
        font-size: 15px;
    }

    .product_clm .webLink {
        font-size: 16px;
    }

    .cell {
        font-size: 12px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .cell .me-3 {
        margin-right: 8px !important;
    }

    .analytics-bar {
        gap: 65px;
    }

    .dark_bar {
        padding: 10px 20px;
    }

    .user_card_slider_arrows {
        padding: 0 10px;
    }

    .modal_content {
        max-width: 580px;
    }

    .horse-form .form-group select,
    .horse-form .sale-price input {
        padding: 10px;
    }

    .horse-form button {
        padding: 10px 35px;
        font-size: 16px;
    }
}

@media only screen and (max-width: 1199px) {}

@media only screen and (max-width: 991px) {}

@media only screen and (max-width: 575px) {}