@media only screen and (min-width: 1800px) {
    .container {
        max-width: 1700px;
    }
}

@media only screen and (max-width: 1799px) {
    ul.side_menu_navs {
        max-height: 480px;
        overflow-y: auto;
    }

    .countdown_user_timer h5,
    .countdown_user_timer h6 {
        font-size: 12px;
    }

    .countdown_user_timer {
        padding: 8px 10px;
    }

    .payment-amount {
        font-size: 53px;
    }

    .payment-date {
        font-size: 20px;
    }
}

@media only screen and (max-width: 1500px) {
    .user_dashboard aside {
        width: 235px;
        padding: 24px 10px;
    }

    .user_main_content {
        width: calc(100% - 235px);
        margin-left: 235px;
    }

    .table_container .title {
        font-size: 15px;
    }

    .table_container .icon {
        width: 27px;
        height: 27px;
    }

    .user_pkg_card {
        height: 350px;
        padding: 60px 10px 30px 10px;
    }

    .user_pkg_card h3 {
        font-size: 15px;
    }

    .horse_list_info_box p {
        font-size: 16px;
        line-height: 25px;
    }

    .user_search_box {
        max-width: 400px;
    }

    .inner_content_wrapper {
        padding: 15px;
    }

    .not_found_box_wrapper {
        padding-top: 150px;
    }

    .not_found_box h2 {
        font-size: 38px;
    }

    .top__bar h2 {
        font-size: 21px;
    }

    .cell {
        font-size: 12px;
        font-weight: 700;
    }

    .bid-amount {
        font-size: 17px;
    }

    .user_img_box {
        height: 240px;
    }

    .custom_tabs {
        gap: 7px;
    }

    .sold_badge {
        width: 75%;
    }

    .heading22px {
        font-size: 19px;
        width: 242px;
    }

    .fvrt_btn {
        width: 100px;
    }

    .horse_card_btn {
        width: 100px;
    }

    .product_clm .pro_img {
        width: 100%;
        height: 190px;
    }

    .product_clm p {
        font-size: 15px;
    }

    .product_clm .webLink {
        font-size: 16px;
    }

    .cell {
        font-size: 12px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .cell .me-3 {
        margin-right: 8px !important;
    }

    .analytics-bar {
        gap: 65px;
    }

    .dark_bar {
        padding: 10px 20px;
    }

    .user_card_slider_arrows {
        padding: 0 10px;
    }

    .modal_content {
        max-width: 580px;
    }

    .horse-form .form-group select,
    .horse-form .sale-price input {
        padding: 10px;
    }

    .horse-form button {
        padding: 10px 35px;
        font-size: 16px;
    }

    .blue_logo_bar img {
        right: -2px;
    }

    .gold_btn {
        font-size: 14px;
    }

    .dashboard-container {
        padding: 15px;
    }

    .acc_review_card {
        padding: 21px 12px;
    }

    .detail_col {
        gap: 5px;
        padding: 15px 10px;
    }

    .detail_col h3 {
        font-size: 18px;
    }
}

@media only screen and (max-width: 1199px) {}

@media only screen and (max-width: 991px) {}

@media only screen and (max-width: 575px) {}
